# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Resolve Service Varlink Socket
Documentation=https://github.com/SisyphusAeolides/systemd-resolved-rs
DefaultDependencies=no
Before=sockets.target shutdown.target
Conflicts=shutdown.target

[Socket]
Service=systemd-resolved.service
ListenStream=/run/systemd/resolve/io.systemd.Resolve
Symlinks=/run/varlink/registry/io.systemd.Resolve
FileDescriptorName=varlink
SocketMode=0666

[Install]
WantedBy=sockets.target
