# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=systemd-resolved-rs Monitor Varlink Socket
Documentation=https://github.com/SisyphusAeolides/systemd-resolved-rs
Conflicts=systemd-resolved.service

[Socket]
ListenStream=/run/systemd/resolve/io.systemd.Resolve.Monitor
Symlinks=/run/varlink/registry/io.systemd.Resolve.Monitor
FileDescriptorName=varlink-monitor
SocketMode=0666
DirectoryMode=0755
Service=systemd-resolved-rs.service

[Install]
WantedBy=sockets.target
